<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Step Counter Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" /> <!-- Show Alarm Screen -->
    <uses-permission android:name="android.permission.LOCK_DEVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />

    <application
        android:name=".core.AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.FitnessApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.VerticalRulerView"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BmiAct"
            android:exported="true" />

        <activity
            android:name=".ui.questions.start.HeightandWeightAct"
            android:screenOrientation="portrait"
            android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>

        </activity>
        <activity
            android:name=".ui.questions.start.PushUpsDoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.questions.start.PartShouldFocusActivity"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activities.PersonalizedWorkAct"
            android:screenOrientation="portrait"
            android:exported="true">

            <!--             <intent-filter>-->
            <!--             <action android:name="android.intent.action.MAIN" />-->


            <!--             <category android:name="android.intent.category.LAUNCHER" />-->
            <!--             </intent-filter>-->
        </activity>
        <activity

            android:name=".ui.activities.ProfileAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->


<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity
            android:name=".ui.activities.LanguageAct"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:exported="true" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activities.FullbodyWorkoutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ExitScreenActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sleeptacker.SleepSummaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.sleeptacker.SleepTrackerHomeScreen"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.sleeptacker.PlayAlarmActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SingleExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoadingActivity"
            android:exported="true"

            android:screenOrientation="portrait">
<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->

<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->
        </activity>


        <activity
            android:name=".ui.sleeptacker.SleepTrackerActivity"
            android:exported="false"
            android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.quotes.DisplayQuoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.quotes.QuotesCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.waterintake.CupCapacityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.waterintake.WaterIntakeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.stepcounter.StepSummeryActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.stepcounter.StepCounterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ExerciseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DisplayWorkoutsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questions.start.TargetWeightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questions.start.GenderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questions.start.AskingWeightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questions.start.AskingAgeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.questions.start.FirstNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.questions.start.AskingHeightActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->


<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".ui.stepcounter.StepCounterSensor"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="health" />

        <receiver
            android:name=".core.utils.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fitzay.workouttracker.strengthtraining.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/fitzay_app_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@style/AdTheme"
            tools:replace="android:theme" />


        <receiver android:name=".core.utils.WaterIntakeNotificationReceiver"/>

    </application>

</manifest>